<header class="app-header container">
  <a class="header-logo" href="">
    <img src="/assets/images/asahi-logo.png" alt="Logo">
  </a>
  <nav class="header-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link has-dropdown" href="">Home</a>
        <ul class="dropdown-list">
          <li class="dropdown-item">
            <a class="dropdown-link" href="">Dropdown-content</a>
          </li>
          <li class="dropdown-item">
            <a class="dropdown-link" href="">Dropdown-content</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link has-dropdown" href="">Menu</a>
        <ul class="dropdown-list">
          <li class="dropdown-item">
            <a class="dropdown-link" href="">Dropdown-content</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link has-dropdown" href="">Page</a>
        <ul class="dropdown-list">
          <li class="dropdown-item">
            <a class="dropdown-link" href="">Dropdown-content</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link has-dropdown" href="">Shop</a>
        <ul class="dropdown-list">
          <li class="dropdown-item">
            <a class="dropdown-link" href="">Dropdown-content</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link has-dropdown" href="">Blog</a>
        <ul class="dropdown-list">
          <li class="dropdown-item">
            <a class="dropdown-link" href="">Dropdown-content</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="contact-group">
    <a class="phone-group" href="">
      <i class="icon-telephone"></i>
      <span class="number">+84 762 201 096</span>
    </a>
    <button class="btn primary-btn menu-btn">
      Menu
      <i class="icon-menu"></i>
    </button>
  </div>
</header>
