<header class="app-header">
  <div class="header-logo">
    Logo
  </div>
  <nav class="header-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="">Home</a>
      </li>
      <li class="nav-item">
        <a href="">Menu</a>
      </li>
      <li class="nav-item">
        <a href="">Page</a>
      </li>
      <li class="nav-item">
        <a href="">Shop</a>
      </li>
      <li class="nav-item">
        <a href="">Blog</a>
      </li>
      <li class="nav-item">
        <a href="">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="contact-group">
    <div class="phone-group">
      <i class="icon"></i>
      <span class="number"></span>
    </div>
    <button class="menu-btn">Menu</button>
  </div>
</header>