<section class="app-body">
  <section class="main-banner-section">
    <div class="container">
      <div class="section-content">
        <p class="welcome">Welcome to Asahi</p>
        <h2 class="quote">
          Restaurant Fresh Dishes For Home
          <span class="highlight">Desh lover</span>
        </h2>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Quis.
        </p>
        <div class="actions-group">
          <a class="btn primary-btn book-table-btn" href="">
            Book table
            <i class="icon-next"></i>
          </a>
          <a class="play-video-btn" href="">
            <i class="icon-play"></i>
            <span class="play-link">Play video now</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</section>
