@font-face {
  font-family: 'Lobster Two';
  src:url("../assets/fonts/LobsterTwo-Regular.ttf");
}

@font-face {
  font-family: 'Lobster Two';
  src:url("../assets/fonts/LobsterTwo-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Lobster Two';
  src:url("../assets/fonts/LobsterTwo-BoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src:url("../assets/fonts/Barlow-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Barlow';
  src:url("../assets/fonts/Barlow-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Barlow';
  src:url("../assets/fonts/Barlow-SemiBold.ttf");
  font-weight: 600;
}
